

.form{
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 500px;
}
.section{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 50px;
  text-align: center;
}

.layout-head{
  padding: 6px;
  margin: 10px;
  /* display: flex; 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) */
  /* justify-content: center; */
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 50px;
  /* text-align: center; */
}

.layout-content{
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 50px;
}

.new-section{
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 50px;
}




.example-list {
  border: solid 1px #ccc;
  min-height: 100px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  place-content: center !important;
  margin: 10px;
  height: 40px;
  padding: 20px 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}
