.profile-card {
  max-width: 400px;
  margin: 2rem auto;
}

.profile-image {
  background-image: url('https://via.placeholder.com/40');
  background-size: cover;
}

.cdk-drag-preview{
  display: none;
}

.cdk-drag-placeholder{
  background-color: #ddd;
  border: dashed;
}
